/* Cleared default Next.js globals to prevent conflicts with legacy CSS */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-area {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: visible !important;
  }
  #print-area * {
    visibility: visible !important;
  }
}

#print-area {
  display: none;
}